:root{
    --main-bg-color:white;
    --second-bg-color: rgb(182, 224, 250);
    --tertiary-color: rgb(37, 37, 37);
    --main-text-color:  rgb(0, 0, 73);
    --contrast-text-color: white;
    --color-five:  #808080;
  }
  
html {
    font-size: 16px;
    width:100%;
    display:block;
    background: url('../../images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
   
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    color: var(--main-text-color);
}
/* .landing {
    padding-top: 30px;
    background-image: url('../../images/free-to-use-sounds-kgn8H0jMSIk-unsplash.jpg');
    background-size:cover ;
    margin: 0;
    
}

.landing_box {
    padding-top: 30%;
    padding-bottom: 30%;
    width: 100%;
    height: 40%;
    text-align: center;
    justify-content: center;
    color:black;
    z-index: 200;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px 2px;
}

.landing_box::before {
    
    content: "";
    display: block;
    position: absolute;
    top: 38%;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: -2;
    background-color: white;
    opacity:0.7;
}  

.landing_box>a {
    margin: 15px;
    font-size: 2rem;
    background-color: green;
    color:white;
}
 */

.planning_page {
    width: 100%;
    margin: 0px;
    padding: 15px;
    display:block;
    
  }

footer {
    /* background-color:var(--second-bg-color)!important; */
    color: lightgrey;
    min-height: 30px;
    min-width:100%;
    padding: 5px;
    position: absolute;
    
}

footer p {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 0.7rem;
    text-align: right;
}

.header {
    
      min-height: 10%;
      background-color: white;
      text-align: center;
      color: rgb(0, 0, 73);
      border-bottom: solid thin rgb(0, 0, 73);
      opacity: 70%
  }

.heading {
    font-family: 'Baloo Chettan 2', cursive;  
    font-weight: 500;
    text-align: center;
    color:rgb(0, 0, 73);
    font-size: 4rem;
    padding: 30px;
    
}

.citylist-item {
    list-style-type: none!important;
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: lightgray;
    margin: 5px;
}

.citiesinput {
    margin: 15px;
    
}

form, .citylist {
    padding: 15px;
}

.citylist {
    padding-top: 0px;
}
.inputcity{
    font-size: 1.1rem;
}

.cityform {
    width:100%;
    min-height: 800px;
}

.currentdata {
    font-size: 1.1rem;
  }

.cityname, .todaydate {
    font-family: 'Baloo Chettan 2', cursive;  
    font-weight: 300;
    font-size: 1.6rem;
    text-align: left;
    margin: 0px;
}

.todaydate {
    padding-top: 5px;
    padding-bottom: 5px;
}
.currentHdng {
    height: auto;
}

.no-margin {
    min-height: 50px;
    margin-left: -15px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom:15px;
}

.todaydate {
    flex-wrap: nowrap;
    font-size: 0.9em;
}
.weathericon {
    max-width: 100px;
    width: auto;
    height:auto;
    position: absolute;
    right: 15px;
    top: -10px;
    float:right;
}

.currentHdng {
    background-color:transparent;
    color: white;
    margin-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 80px;
    word-wrap:normal ;
    
}
.alert {
    position: absolute;
    left: 30%;
    top: 20%;
    min-width: 50%;
    z-index: 200;
    padding:30px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px 2px;
}

.alert::before {
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity:0.7;
}


.responsedata {
    /* background-color: lightslategray; */
    display:none;
}

#alertCloseBtn {
    position:relative;
    border: solid 1px;
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 5px;    
}

.weathercard > .table , .citiesinput {
    background-color: white;
    border-radius:5px;
    z-index: 150;
    
}

.citiesinput {
    background-color: transparent;
}

.citiesinput2::before {
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    opacity:0.3;
}

.currentdata th,.currentdata td{
    font-size: 0.8em;
    border-top: none;
    border-bottom: 1px solid #dee2e6;
    padding: 0.7rem;
}
.futureDataTbl th,.futureDataTbl td{
    border-top: none;
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem;
}
.futureWeatherCard {
   background-color: var(--second-bg-color);
   margin-bottom: 15px;
   min-width:18%;
   box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px 2px;
   
}

#futureWeatherCards {
    margin-left:0px;
    margin-right:0px;
    display:flex;
    justify-content: space-between;
}



.futuredataTitle{
    font-size: 0.9rem;
    width:auto;
    line-height:1.1rem;
    margin:10px;
}

.futureDataTbl {
    width: 100%;
    margin:0px;
}
.futureWeatherCard > div.card-body {
    padding: 0px;
    margin: 0px;
   
}
.futureImg {
    max-width: 50px;
    max-height:50px;
    
}
.flex-container {
    display:flex;
    justify-content: space-between;
    
}


.futureDataPt {
    font-size: 0.7rem;
    padding: 3px;
    line-height: 0.7rem;
    
}

@media screen and (max-width: 400px) {
    html{
        font-size: 8pt;
    }

    h1 {
        font-size: 1.67em;
    }
   /* 
    .landing {
        padding: 10px;
        width:100%;
        flex-wrap: wrap;
        background-image: url('../../images/small_umbrella.jpg');
        background-repeat: no-repeat;
        background-origin: content-box;
        
        position: absolute;
        vertical-align: middle;
        margin-top: 30%;
        margin-bottom: 30%;
       
 
    }
        
    .landing_box {
        
        width: 100%;
        height: 40%;
        text-align: center;
        justify-content: center;
        color:black;
        z-index: 200;
        box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px 2px;
    }

    .landing_box::before {
        
        content: "";
        display: block;
        position: absolute;
        top: 25%;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: -2;
        background-color: white;
        opacity:0.7;
    }  


  

    .landing_box>a {
        margin: 50px;
        margin: 15px;
        font-size: 1.4rem;
        background-color: green;
    }
 */
        
        
    .weathericon {
        width: 50px;
        position: absolute;
        right: 5px;
        top: -15px;
        float:right;
    }
}





@media screen and (min-width: 401px) and (max-width: 680px) {
    html{
        font-size: 10pt;
    }
/* 
    .landing {
        margin-top: 20%;
        margin-bottom: 20%;
    }
 */

    h1 {
        font-size: 2em;
    }
   
    .weathericon {
        width: 80px;
        position: absolute;
        right: 5px;
        top: -20px;
        float:right;
    }
}

@media screen and (min-width: 681px) and (max-width: 960px) {
    html{
        font-size: 12pt;
    }
    /* .landing {
        margin-top: 20%;
        margin-bottom: 20%;
    } */
    h1 {
        font-size: 2em;
    }

    /* .landing_box>a {
        margin: 50px;
    } */
    .weathericon {
        width: 80px;
        position: absolute;
        right: 0px;
        top: -20px;
        float:right;
    }

    /* .landing_box {
        
        width: 100%;
        height: 40%;
        text-align: center;
        justify-content: center;
        color:black;
        z-index: 200;
        box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px 2px;
    }

    .landing_box::before {
        
        content: "";
        display: block;
        position: absolute;
        top: 25%;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: -2;
        background-color: white;
        opacity:0.7;
    }  

 */
}

@media screen and (min-width: 961px)  {
    /* .landing {
        margin-top: 20%;
        margin-bottom: 20%;
    }
 */
    h1 {
        font-size: 4rem;
    }
    /* .landing_box>a {
        margin: 50px;
       font-size: 3rem;
    }
 */
    
}
}